# Site settings
site: Ozdogan
title: Ozdogan's Castle
keywords: ufuk ozdogan, ufuk özdoğan, blog
description: >-
  Ozdogan's Castle
lang: en-US
timezone:  Europe/Istanbul
repo: https://github.com/ufukozdogan/ufukozdogan.github.io # site repo [optional]
google_verify:      XXX # Put your Google Verification here
google_analytics:   UA-XXXXXXXX-00 # Put your Google Analytics code
discus-identifier:  XXX

# Author settings
author:
  name: Ufuk Ozdogan
  bio: Senior DevOps/SRE | Developer <br> Video Game Enthusiast <br> <font size="-1"><i>Check out my Medium for the tech blogs!</i></font>
  picture: assets/images/profile.jpeg 
  github: ufukozdogan # github username
  twitter: mrcoreborn # twitter username
  medium: ufukozdogan
  gitlab: ufukozdogan
  stackoverflow: 6267653/ufuk-ozdogan
  linkedin: ufukozdogan # linkedin username
  #email: your-email@email.com # email adress

# URL settings
url: "https://ufukozdogan.dev" # Domain Name of host. [username].github.io for github pages
permalink: pretty

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

exclude:
  - .jekyll-cache
  - .obsidian
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md
  - CONTRIBUTING.md

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-relative-links
  - jemoji
paginate: 20
paginate_path: "/page/:num"

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:slug
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

relative_links:
  enabled:     true
  collections: false